# Packages
node_modules

# Bundles
dist

# Logs
*.log

# ENV
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.vscode/
.idea/
*.swp
.git
.gitignore

# Docker
Dockerfile.dev
Dockerfile.prod
docker-compose.yml
